body {
            font-family: 'Segoe UI', sans-serif;
        }

        .brand {
            font-family: 'Island Moments', cursive;
            color: #ff7a00;
            font-weight: bold;
        }

       .btn-warning{
            background-color: #ff7a00;
            color: #fff;
        }

        .btn-warning:hover {
            background-color: #e56d00;
            color: #fff;
        }

        .feature-icon {
            background-color: #fff3e6;
            color: #ff7a00;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            font-size: 20px;
        }

        .footer {
            background-color: #6b3f2e;
            color: white;
        }

        .footer a {
            color: #ffffff;
            text-decoration: none;
            font-weight: lighter;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .hero-right{
        background:#f4f4f4;
        padding:60px 70px;
        }

        @media (max-width: 768px){
        .hero-right{
        padding:40px 25px;
        }
    }