body {
    background-color: #b3b3b4;
}

    .cart-container {
      background: #fff;
      padding: 20px;
      border-radius: 6px;
    }
    .cart-item {
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      padding: 12px;
      margin-bottom: 12px;
      align-items: center;
    }
    .cart-img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 6px;
    }
    .qty-box {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .qty-btn {
      width: 28px;
      height: 28px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f8f9fa;
      font-weight: bold;
      line-height: 1;
    }
    .price {
      color: #ff6a00;
      font-weight: 600;
    }
    .delete-btn {
      background: #ff6a00;
      color: #fff;
      border: none;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 4px;
    }
    .add-more {
      color: #0d6efd;
      text-decoration: none;
      font-size: 14px;
    }

/* Navbar */
.navbar-brand {
    color: #ff6f00 !important;
    font-weight: 600;
    font-family: 'Island Moments', cursive;
    font-size: x-large;
}

.login-btn {
    background-color: #ff6b00;
    color: white;
    border-radius: 6px;
    padding: 6px 18px;
}

.footer {
    background-color: #6b3e26;
    color: white;
    padding: 40px 0;
}

.footer h3 {
    font-family: 'Island Moments', cursive;
    color: #ff6b00;
    font-weight: lighter;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0d6efd;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}