body {
            background-color: #a19f9fd5;
            font-family: 'Segoe UI', sans-serif;
}

        /* Navbar */
        .navbar-brand {
            color: #ff6f00 !important;
            font-weight: 600;
            font-family: 'Island Moments', cursive;
           font-size: x-large;
        }

        .btn-orange {
            background-color: #ff6f00;
            color: #fff;
        }

        .btn-orange:hover {
            background-color: #e65c00;
            color: #fff;
        }

        /* Delivery Card */
        .delivery-card {
            max-width: 600px;
            margin: 80px auto;
            padding: 30px;
            background: #ffffff;
            border-radius: 8px;
        }

        .section-title {
            font-weight: 600;
            margin-bottom: 20px;
        }

        /* Footer */
        .text-orange{
            font-family: 'Island Moments', cursive;
            color: #ff6f00;
        }
        .footer {
            background-color: #6b3f2e;
            color: #fff;
            padding: 50px 0;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        /* Scroll Top Button */
        .scroll-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #0d6efd;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }