body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-family: 'Island Moments', cursive;
    color: hsl(25, 100%, 50%) !important;
    font-weight: lighter;
    font-size: 100px;
}

.login-btn {
    background-color: #ff6b00;
    color: white;
    border-radius: 6px;
    padding: 6px 18px;
}

.food-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Orange custom radio & checkbox */
.form-check-input:checked{
    background-color:#ff6b00;
    border-color:#ff6b00;
}

.option-box{
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin-bottom:12px;
    background:#fff;
}

.option-box:hover{
    border-color:#ff6b00;
}

.price{
    font-size:14px;
    color:#555;
}

textarea{
    border-radius:10px !important;
}
.badge-default{
    font-size:13px;
    color:#555;
}
.icon-orange{
    color:#ff6b00;
}

.footer {
    background-color: #6b3e26;
    color: white;
    padding: 40px 0;
}

.footer h3 {
    font-family: 'Island Moments', cursive;
    color: #ff6b00;
    font-weight: lighter;
}

.footer a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }

        .footer a:hover {
            text-decoration: underline;
        }

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0d6efd;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}